@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

.custom-btn {
  background: #000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
}
